@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #474747;
    width: 100%;
    min-height: 100vh;
    height: 76vh;
}

h1 {
    font-size: calc(10px + 3vmin);
    color:#a2d5f5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: calc(10px + 2vmin);
    color: #bdbdbd;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
}

.Authenticate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width: auto;
    height: auto;
    padding: 3vh;
    background-color: #363636;
    border-radius: 1vw;
    transition: box-shadow 0.3s ease;
}

.Authenticate-container:hover {
    box-shadow: #678599 0 0 10px;
}

.Tip-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vh;
    padding-left: 3vh;

}

.Tip-list li {
    font-size: calc(10px + 1vmin);
    color: #bdbdbd;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
}

.Intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1vh;
    width: 100vw;
    padding: 2em;
    background-color: #2e2e2e;
    box-sizing: border-box;
}

.Profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
    width: 40vw;
    height: auto;
    padding: 2vh 3vh;
    background-color: #363636;
    border-radius: 1vw;
    transition: box-shadow 0.3s ease;
}


.Profile a {
    text-decoration: none;
    color: #a2d5f5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: calc(10px + 2vmin);
}

.Profile a:hover {
    color: #bcdef5;
    text-decoration: underline;
}

.Avatar {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

.Body-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3vh;
    width: 100vw;
    padding: 10vh 0;
    background-color: #474747;
}

.Playlists-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vh;
    max-height: 70vh;
    background-color: #363636;
    padding: 3vh;
    border-radius: 1vw;
    transition: box-shadow 0.3s ease;
}

.Playlists-container p {
    font-size: calc(3px + 2vmin);
    color: #a2d5f5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.Playlists-container img {
    height: 2.5em;
    border-radius: 1em;
}

.Playlists-container:hover {
    box-shadow: #678599 0 0 10px;
}


.Playlists-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    overflow-y: scroll;
    gap: 0.3em;
    color: #bdbdbd;
    list-style-type: none;
    width: 40vw;
    padding: 2em 0;
    border: #2e2e2e solid 5px;
    border-radius: 1vw;
    align-self: center;
}

.Playlists-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: #2e2e2e solid 4px;
    border-radius: 1em;
    margin: 0 0.5em;
}


.Playlists-list a {
    text-decoration: none;
    color: #bdbdbd;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: calc(20px + 2vmin);
    text-align: center;
    padding: 0 0.3em 0.3em;
    background-color: #2e2e2e;
    border-radius: 0.3em;
}

.Playlists-list a:hover {
    background-color: #a2d5f5;
    color: #2e2e2e;
}

.Playlist-radio {
    display: none;
}


.Playlists-list label {
    cursor: pointer;
    border-radius: 0.5vw;
    padding: 0.5em;
    width: calc(40vw - 4em);
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 0 0.5em;
    height: 100%;
}

.Playlists-list label:hover {
    background-color: #b0c9d9;
    color: #363636;
}


.Playlist-radio:checked + label {
    background-color: #a2d5f5;
    color: #363636;
}

.Action-button {
    background: rgb(85,146,185);
    background: linear-gradient(75deg, rgba(85,146,185,1) 0%, rgba(188,229,255,1) 59%, rgba(118,177,214,1) 100%);   
    border: none;
    border-radius: 1vw;
    padding: 1vw;
    color: #363636;
    font-size: calc(10px + 2vmin);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: black 0 0 6px;
    margin: 0 2vh;
}

.Action-button:hover {
    box-shadow: #678599 0 0 10px;
    scale: 1.03;
}

.Log a {
    font-family: monospace;
    font-size: calc(5px + 1vmin);
    color: #bcdef5;
}

.Log {
    color: #bcdef5
}

